.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;

  & a {
    padding: 15px;
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.nav__link {
  display: inline-block;

  &.nav__link--active {
    background: #eee;
  }
}
